@{
    ViewBag.Title = "Turnos Online";
}
<script src="~/Scripts/Home/index.js"></script>

<div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 img-fluid" src="~/Assets/images/bannerCMLH.jpg" alt="First slide" />
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="~/Assets/images/bannerCMLH.jpg" alt="First slide" />
                
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="~/Assets/images/bannerCMLH.jpg" alt="First slide" />
            </div>
        </div>
    </div>
    <div class="container">    
            <div class="row" style="margin-top:20px;">
                <div class="col-7">
                    <h3>¿No se encuentra registrado?</h3>
                    <p>
                        Usted podrá solicitar turnos online para Consultas Médicas y Estudios de nuestros centros (Belgrano, Ramos Mejía, Rivadavia, Morón, Espora, Monteagudo y Cardiovascular).
                    </p>
                    <p>
                        Si aún no tiene CLAVE por favor REGISTRESE y aguarde a recibir el email de confirmación que le permitira generar una clave.
                    </p>
                    <button class="btn btn-primary mt-lg hidden-sm hidden-xs" id="linkRegister">Registrarme</button>
                </div>
                <div class="col-5">
                    <div id="cardLogin" class="card card-1 col-md-12 text-md-center col-lg-12 text-lg-center">
                        <div class="card-block">
                            <div class="card-header">
                                    <h3>Ingreso de pacientes</h3>
                            </div>
                            <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            @*<input type="email" class="form-control" placeholder="Nro de Dni">*@
                                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                <div class="input-group-addon"><span class="fa fa-user"></span></div>
                                                <input type="text" class="form-control" placeholder="Nro de Dni">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @*<input type="password" class="form-control" placeholder="Contraseña">*@
                                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                <div class="input-group-addon"><span class="fa fa-key"></span></div>
                                                <input type="password" class="form-control" placeholder="Contraseña">
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <a href="../Login/RecuperarContraseña">¿Olvidó su contraseña?</a>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="text-center">
                                    <button id="btnLogin" class="btn btn-primary btn-block" type="submit" onclick="document.getElementById('frmAccount').submit();">Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          

            @*<div class="col-md-12 col-lg-12 col-sm-12">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <h3>¿No se encuentra registrado?</h3>
                    <p>
                        Usted podrá solicitar turnos online para Consultas Médicas y Estudios de nuestros centros (Belgrano, Ramos Mejía, Rivadavia, Morón, Espora, Monteagudo y Cardiovascular).
                    </p>
                    <p>
                        Si aún no tiene CLAVE por favor REGISTRESE y aguarde a recibir el email de confirmación que le permitira generar una clave.
                    </p>
                    <button class="btn btn-primary mt-lg hidden-sm hidden-xs" id="linkRegister">Crear cuenta</button>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div id="cardLogin" class="card card-1 col-md-12 text-md-center col-lg-12 text-lg-center">
                        <div class="card-block">
                            <div class="card-body">
                                <div class="col-lg-12 col-sm-12 col-12 user-img">
                                    <img src="~/Assets/images/man.png">
                                </div>
                                <div class="col-lg-12 col-sm-12 col-12 user-name">
                                    <h3>Iniciar sesión</h3>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <form>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                        <a id="btnModalRegister">Olvidé mi contraseña?</a>
                                    </form>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="text-center">
                                    <button id="btnLogin" class="btn btn-outline-primary btn-lg btn-block" type="submit" onclick="document.getElementById('frmAccount').submit();">Iniciar Sesión</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

            
        </div>
    </div>  

    @*<div class="visible-xs">

    </div>*@

<!-- Modal -->
<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ingrese su DNI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <input type="text" class="form-control" placeholder="Ingrese su número de DNI"/>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>*@
                <button type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>

    @*<div id="modalRegister" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="modal-title text-center">Crear tu cuenta</h3>
                        <hr />
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="Nombre">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Apellido</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="Apellido">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Dni</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="Dni">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Email</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Telefono</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="TelPart">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Celular</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="Celular">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Usuario</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="Usuario" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Contraseña</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="Contraseña" readonly>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>*@

</div>